{% extends "layout.html" %}

{% block title %} 
    {% if session=="poem" %}
    Display Poem 
    {% elif session=="draft" %}
    Display Draft
    {% endif %}
{% endblock %}


{% block main%}
<div id="poem_container">
    <div class ="display_poem">
    <p class="poem_title">{{poem.title}}</p>
    <p class="poem_author">By {{current_user.username}}</p>
{%for i in poem_lines %}
<p class="display_poem_line">{{i.line_text}}</p>
    {% if poem.line_break and ((loop.index % poem.line_break) == 0)%}
    <br>
    {%endif%}
{%endfor%}
</div>
</div>
{% endblock %}