{% extends "layout.html" %}

{% block title %} Display Draft {% endblock %}


{% block main%}
<div id="poem_container">
    <div class ="display_poem">
    <p class="poem_title">{{draft.title}}</p>
    <p class="poem_author">By {{current_user.username}}</p>
{%for i in draft_lines %}
<p class="display_poem_line">{{i.line_text}}</p>
    {% if draft.line_break and ((loop.index % draft.line_break) == 0)%}
    <br>
    {%endif%}
{%endfor%}
</div>
</div>
<script  src="/static/js/display.js"> </script>
{% endblock %}