{% from 'macro.html' import flash_msgs %}

{% extends "layout.html" %}

{% block head %}
<style>
body{
    background-image: url("/static/index_background.jpg") !important;
    } 

</style>
{% endblock %}

{% block title %}
    {% if session == "poem" %}
        Poems
    {% elif session=="draft" %}
        Drafts 
    {% endif %}
{% endblock %}

{% block main%}

{{flash_msgs()}}
{%if user_poems|length != 0%}

{% if session == "poem" %}
<div class="modal fade" id="poem_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">This action is irreversible!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            Are you sure you want to permanently delete your poem?
        </div>
        <div class="modal-footer">
            <button class="button" type="button" class="btn-close" data-bs-dismiss="modal">Cancel</button>
            <button id="delete_poem_btn" class="button">Delete</button>
            <input type="checkbox" id="dont_show_poem_modal">Don't show this message again
        </div>
    </div>
</div>
</div>

{% elif session=="draft" %}
<div class="modal fade" id="draft_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">This action is irreversible!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            Are you sure you want to permanently delete your draft?
        </div>
        <div class="modal-footer">
            <button class="button" type="button" class="btn-close" data-bs-dismiss="modal">Cancel</button>
            <button id="delete_btn" class="button">Delete</button>
            <input type="checkbox" id="dont_show_draft_modal">Don't show this message again
        </div>
    </div>
</div>
</div>
{% endif %}
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<div class="input-group mb-3" id="select_draft_div">
    <label class="input-group-text" for="poem_select">Quick Navigation Menu
    </label>
    <select class="form-select"  id="poem_select"  onchange="location = this.value;">
        {% if session=="poem" %}
            <option selected disabled>Title/Poem number</option>
                {% for i in user_poems %}
                <option id="{{i.poem_id}}" value="#{{i.title}}/{{i.poem_count}}">{{i.title}}/{{i.poem_count}}</option>
                {% endfor%}
        {% elif session=="draft" %}
            <option selected disabled>Title/Poem number/Draft number</option>
                {% for i in user_poems %}
                <option id="{{i.draft_id}}" value="#{{i.title}}/{{i.poem_count}}/{{i.draft_count}}">{{i.title}}/{{i.poem_count}}/{{i.draft_count}}</option>
                {% endfor%}
        {% endif %}
    </select>
</div>
<ul class="flex-container">
{% set count = namespace(value=0) %}
{% for i in user_poems %}
    {% if session=="draft" %}
    <li class = "flex-item" id="{{i.title}}/{{i.poem_count}}/{{i.draft_count}}" name="{{i.draft_id}}">
    {% elif session=="poem" %}
    <li class = "flex-item" name="{{i.poem_id}}" id="{{i.title}}/{{i.poem_count}}">
    {% endif %}
{% if i.title=="None" %}
    <p class="poem_title" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{poem_lines[1].line_text}}">{{poem_lines[1].line_text}}</p>
{% elif i.title|length > 14 %}
    <p class="poem_title" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{i.title}}">{{i.title}}</p>
{% else %}
    <p class="poem_title">{{i.title}}</p>
{% endif %}
{% if session=="draft" and del_draft!="True" %}
    {% if i.saved == 0%}
        <img class="small_icon" src="/static/icons/not_saved.png" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Draft is not saved as poem">
    {% else %}
        <img class="small_icon" src="/static/icons/saved.png" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Draft saved as poem consider deleting"> 
    {% endif %}
{% endif %}
{% if session=="draft" %}
<p class="poem count" value="{{i.draft_id}}">Poem num : {{i.poem_count}}</p>
<p>Draft num : {{i.draft_count}}</p>
{% else %}
<p class="poem count" value="{{i.poem_id}}">Poem num : {{i.poem_count}}</p>
{% endif %}
<p>Rhyme scheme : {{i.rhyme_scheme}}</p>
<p>Creation Date : {{i.save_date.strftime("%d-%b-%Y at %I:%M%p")}}</p>
{% if i.edit_date%}
<p>Edit Date : {{i.edit_date.strftime("%d-%b-%Y at %I:%M%p")}}</p>
{% endif %}
{% if session=="poem" %}
<button class="icon_btn" name="container{{i.title}}/{{i.poem_count}}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Full Display"><img src="/static/icons/display.png" class="icon" alt="display" id="{{i.title}}/{{i.poem_count}}" onclick="window.location='/Account/Poem/Display?pid={{i.poem_id}}'"></button>
{% elif session=="draft" %}
<button class="icon_btn" name="container{{i.title}}/{{i.poem_count}}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Full Display"><img src="/static/icons/display.png" class="icon" alt="display" id="{{i.title}}/{{i.poem_count}}" onclick="window.location='/Account/Draft/Display?pid={{i.draft_id}}'"></button>
{% endif %}
<button class="icon_btn show_poem" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Quick Display"><img src="/static/icons/down-arrow.png" class="icon arrow_icon"></button>
{% if session=="poem" %}
<button class="icon_btn" onclick="window.location='/Write?poem={{i.poem_id}}'" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><img src="/static/icons/edit.png" class="icon" alt="resume"></button>
<button class="icon_btn delete_poem" name="{{i.poem_id}}" value="delete" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><img src="/static/icons/delete.png" class="icon" alt="delete"></button>
{% elif session=="draft" %}
<button class="icon_btn" onclick="window.location='/Write?draft={{i.draft_id}}&dnum={{i.draft_count}}&pnum={{i.poem_count}}'" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Resume"><img src="/static/icons/resume.png" class="icon" alt="resume"></button>
<button class="icon_btn delete" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><img src="/static/icons/delete.png" class="icon" alt="delete"></button>
{% endif %}
 <div class="poem_container" id="container{{i.title}}/{{i.poem_count}}">
         <div class ="display_poem">
         <p class="poem_title" >{{i.title}}</p>
         <p class="poem_author">By {{username}}</p>
    {% set count.value = 0 %}
     {%for j in poem_lines%}
     {% if j.poem_id == i.poem_id%}
     <p class="poem_lines" >{{j.line_text}}</p>
     {%endif%}
    {%endfor%}
        </div>
    </div>
</li>
{% endfor %}
</ul>
{% else %}
<div id="empty_draft">
<h2>Looks like you don't have any poems saved yet, get to <a href="/Create">Creating!</a></h2>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script  src="/static/js/draft.js"></script>
<script  src="/static/js/poem.js"></script>
{% endblock %}
{% block footer %}
<a href="https://www.flaticon.com/free-icons/play" title="play icons">Resume icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/edit" title="edit icons">Edit icons created by Pixel perfect - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/delete" title="delete icons">Display-Delete icons created by bqlqn - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/back" title="back icons">Arrow icons created by Roundicons - Flaticon</a>
{% endblock %}