{% extends "layout.html" %}

{% block title %} Draft {% endblock %}

{% block main %}
<!-- draft modal -->
<div class="modal fade" id="draft_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">This action is irreversible!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            Are you sure you want to permanently delete your draft?
        </div>
        <div class="modal-footer">
            <button class="button" type="button" class="btn-close" data-bs-dismiss="modal">Cancel</button>
            <button id="delete_btn" class="button">Delete</button>
            <input type="checkbox" id="dont_show_draft_modal">Don't show this message again
        </div>
    </div>
</div>
</div>
<h1>My Drafts</h1>
{%if drafts|length != 0%}
<div class="input-group mb-3" id="select_draft_div">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label class="input-group-text" for="draft_select">Quick Navigation Menu
    </label>
    <select class="form-select"  id="draft_select"  onchange="location = this.value;">
        <option selected disabled>Title/Poem number/Draft number</option>
        {% for i in drafts %}
        <option value="#{{i.title}}/{{i.poem_count}}/{{i.draft_count}}">{{i.title}}/{{i.poem_count}}/{{i.draft_count}}</option>
        {% endfor%}
    </select>
</div>
<ul class="flex-container">
{% for i in drafts %}
<li class = "flex-item" id="{{i.title}}/{{i.poem_count}}/{{i.draft_count}}" name="{{i.poem_count}};{{i.draft_count}}">
<p class="draft_title">{{i.title}}</p>
<p>Poem num : {{i.poem_count}}</p>
<p>Draft num : {{i.draft_count}}</p>
<p>Rhyme scheme : {{i.rhyme_scheme}}</p>
<p>Creation Date : {{i.save_date.strftime("%d-%b-%Y at %I:%M%p")}}</p>
{% if i.edit_date %}
<p>Edit Date : {{i.edit_date.strftime("%d-%b-%Y at %I:%M%p")}}</p>
{% endif %}
<button class="icon_btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Display"><img src="/static/icons/display.png" class="icon" alt="display"></button>
<button class="icon_btn" name="{{i.poem_count}};{{i.draft_count}}" onclick="window.location='/Write?draft={{i.draft_id}}&pnum={{i.poem_count}}'" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Resume"><img src="/static/icons/resume.png" class="icon" alt="resume"></button>
<button class="icon_btn delete" name="{{i.poem_count}};{{i.draft_count}}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><img src="/static/icons/delete.png" class="icon" alt="delete"></button>
</li>
{% endfor %}
</ul>
{% else %}
<div id="empty_draft">
<h2>Looks like you don't have any drafts saved yet, get to <a href="/Create">Creating!</a></h2>
</div>
{% endif %}
<script  src="/static/js/draft.js"> </script>
{% endblock %}
<a href="https://www.flaticon.com/free-icons/play" title="play icons">Resume icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/edit" title="edit icons">Edit icons created by Pixel perfect - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/delete" title="delete icons">Display-Delete icons created by bqlqn - Flaticon</a>