{% extends "layout.html" %}

{% block title %} Format {% endblock %}


{% block main%}
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<h1> Your poem has been saved!</h1>
<h4 id="changes">Any last minute changes? Click on any line to edit it!</h4>

<div class="edit_poem_row2">
<div class="edit_poem">
    <button class="button" id="save_poem">Save</button>
</div>
</div>



<div id="poem_container">
    <div id ="poem">
    <span contenteditable class="edit_title"><p id="poem_title">{{user_poem.title}}</p></span>
    <p id="poem_author">By {{username}}</p>
{%for i in user_poem_lines %}
<p><span contenteditable id="{{i.line_num}}" class="edit_line">{{i.line_text}}</span></p>
    {% if user_poem.line_break and ((loop.index % user_poem.line_break) == 0)%}
    <br>
    <br>
    {%endif%}
{%endfor%}
</div>
</div>
</div>
{% endblock %}