{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block main%}
<img src="/static/icons/Puddy_Logo_writing.png">
<img src="/static/icons/Puddy_Logo_plume.png" style="float: right;">
{% if current_user.is_authenticated %}
<h1>Welcome to Puddy {{current_user.username}}!</h1>
{% elif current_user.is_anonymous %}
<h1>Welcome to Puddy Guest!</h1>
{% endif %}
<div class="container_div">
    <p>Puddy is your poetry writing buddy here's everything that puddy has to offer:</p>
<ul>
    <li>
<p>To start creating your first poem <a href="/Create">go to create</a> choose a rhyme scheme and get to writing!</p>
    </li>
    <li>
        <p>Are you experiencing writer's block? Fear not <a href="/SearchPoems">search for poems</a> to check out some famous poems and get inspired!</p>
    </li>
    <li>
        <p>Can't think of rhymes for a word? <a href="/Rhymes"> Search for rhymes</a> will help you with that.</p>
    </li>
    {% if current_user.is_authenticated %}
    <li>
        <p>Customize your experience and from your <a href="/Account/Settings">account settings</a>.</p>
    </li>
    {% endif %}
</ul>
<p>Disclaimer: This is a one man project so results are not 100% accurate for rhyme checking and syllable count</p>
</div>
{% endblock %}