{% from 'macro.html' import form_field, err_msg %}

{% extends "layout.html" %}

{% block title %} GetInspired {% endblock %}

{% block head %}
<style>
    body{
        background-image: url("/static/get_inspired_background.jpg") !important;
    }
    main{
      color: white;
    }
</style>
{% endblock %}

{% block main%}
<h3>Search for other poet's work and get inspired</h3>
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<form action="{{url_for('search_poems')}}" method="get" style="margin-left:5px" id="get_inspired_form">
{{form_field(form.query, "form-control mr-sm-2", "Search By", id="poem_search")}}
{{form.search(id="search_poem", class="btn btn-primary")}}
<br>
<div class="input-group mb-3 get_inspired_div">
  <label class="input-group-text" for="inputGroupSelect01">Filters</label>
{{form_field(form.filters, "form-select", id="inputGroupSelect01")}}
</div>
<button type="button" class="button" id="advanced_filters_btn">Advanced Filters</button>
<div id="advanced_filters">
  <p>Filter By:</p>
  <input type="radio" id="length_radio" name="advanced_filters" value="length">
  <label for="length_radio">Poem Length</label>
  <input type="radio" id="length_range_radio" name="advanced_filters" value="length_range">
  <label for="length_range_radio">Poem Length Range</label>

<div class="input-group mb-3 get_inspired_div" id="length">
  <span class="input-group-text">Poem Length</span>
  <input type="number" class="form-control" name="poem_length" placeholder="(Optional)" aria-label="(Optional)">
  <span class="input-group-text">Lines</span>
  </div>
<div class="input-group mb-3 get_inspired_div" id="length_range">
  <span class="input-group-text">Min Poem Length</span>
  <input type="text" class="form-control" name="min_length" placeholder="(Optional)" aria-label="(Optional)">
  <span class="input-group-text">Lines</span>
  <div class="input-group mb-3 get_inspired_div length_range">
    <span class="input-group-text">Max Poem Length</span>
    <input type="text" class="form-control" name="max_length" placeholder="(Optional)" aria-label="(Optional)">
    <span class="input-group-text">Lines</span>
  </div>
</div>
</div>
<button class="button" type="button" id="poem_rand" >Randomise</button>
<div id="loading_poems">
  <div class="text-center">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
  </div>
</div>
</div>
{% if not_found %}
<p class="error_msg">{{not_found}}</p>
{% else %}
{% if pagination %}
{{ pagination.info }} 
{{ pagination.links }}
{% if not poem_rand %}
{{form_field(form.sort_by, "form-select", id="get_inspired_sort_by")}}
{% endif %}
</form>
<div class="input-group mb-3" class="get_inspired_div">
  <label class="input-group-text" for="poem_serach_select">Quick Navigation
  </label>
  <select class="form-select"  id="poem_search_select"  onchange="location = this.value;">
      <option selected disabled>Title/Author</option>
      {% for i in items%}
      <option value='#{{loop.index}}'>{{i["title"]}} / {{i["author"]}}</option>
      {% endfor %}
  </select>
</div>
  <div id="poem_result">
    {% for i in items%}
    <div id="{{loop.index}}">
      <h3>{{i.title}} By {{i.author}}</h3>
      <p>{{i.lines[0]}}</p>
      <p>{{i.lines[1]}}</p>
      <div class="read_more_div">
        {% for j in i.lines%}
        {% if loop.index>2 %}
        <p>{{j}}</p>
        {% endif%}
        {% endfor %}
      </div>
      <p><u><b>Poem Length:</b></u> {{i.linecount}} Lines</p>
        <button class="read_more_btn button"  style="width: auto;">Read More...</button>
        <button class="button" style="width: auto;" onclick="window.location='/SearchPoems/{{i.author}}/{{i.title}}'">Full View</button>
    </div>
    <br>
    <hr>
    <br>
    {% endfor %}
  </div>
{{ pagination.links }}
{% endif %}
{% endif %}
{% endblock %}

{% block script %}
<script  src="/static/js/search_poems.js"> </script>
{% endblock %}
{% block footer %}
{% endblock %}