{% extends "layout.html" %}

{% block head %}<style>
    body {
        background-image: url('{{user_background}}') !important;
    }
</style>{% endblock %}

{% block title %} Write {% endblock %}

{% block main %}


{% if write_session != poem %}
<!-- write Modal -->
<div class="modal fade" id="write_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Duplicate Found!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                The current poem already has an existing <a href="/Draft" target="_blank">draft</a> what would you like to do?
            </div>
            <div class="modal-footer">
                <button id="save_draft_modal" class="button">Save Another Draft</button>
                <button id="update_draft" class="button">Update Most Recent/Current Draft</button>
            </div>
        </div>
    </div>
</div>
<!-- ============ -->
{% endif %}
<div id="warning"><img src="/static/icons/warning.png" id="warning_icon">You Haven't Saved In A While<button class="close_btn id="warning_close">x</button></div>
<div id="btn_div">

    <input type="text" class="form-control" id="quick_search" placeholder="Quick Search For Rhymes">
    <button type="button" class="button" id="quick_search_rhymes_btn" ><img src="/static/icons/search.png" id="search_icon"></button>
    <div class="form-check form-switch form-check-reverse switch_div">
        <input class="form-check-input" id="detatch_util" name="switch" type="checkbox"
            id="flexSwitchCheckReverse">
        <label class="form-check-label" for="flexSwitchCheckReverse">Detatch Utility Box</label>
    </div>
    <div class="form-check form-switch form-check-reverse switch_div">
        <input class="form-check-input" id="toggle_nav" name="switch" type="checkbox"
            id="flexSwitchCheckReverse">
        <label class="form-check-label" for="flexSwitchCheckReverse">Toggle Navbar</label>
    </div>
    <div class="form-check form-switch form-check-reverse switch_div">
        <input class="form-check-input" id="toggle_note" name="switch"  type="checkbox"
            id="flexSwitchCheckReverse">
        <label class="form-check-label" for="flexSwitchCheckReverse" >Toggle Notepad</label>
    </div>
    <!-- Dont show check rhymes btn if rhyme scheme is either of these two -->
    {% if not ((user_rhyme_scheme=="Free Verse") or (user_rhyme_scheme=="Haiku"))%}
    <div class="form-check form-switch form-check-reverse switch_div">
            <input class="form-check-input" id="check_rhymes" name="switch" value="check_rhymes" type="checkbox"
                id="flexSwitchCheckReverse">
            <label class="form-check-label" for="flexSwitchCheckReverse" id="check_rhymes_label">Check Rhymes</label><button id="rhyme_check_info">?</button>
            <div id="no_data_rhymes">There must at least two words of the same rhyme in your poem</div>
            <div id="loading_rhymes" class="text-center loading">
                <div class="spinner-border" style="width: 2rem; height: 2rem;" role="status">
              </div>
            </div>
        </div>
    {% endif %}
    <div class="form-check form-switch form-check-reverse switch_div">
        <input class="form-check-input" id="display_syllable_count" name="switch" value="display_syllable_count"
            type="checkbox" id="flexSwitchCheckReverse">
        <label class="form-check-label" for="flexSwitchCheckReverse">Display Syllable Count</label>
        <div>
            <ol id="no_data_syllables">You got 0 for a syllable count make sure:
                <li>You left no empty fields</li>
                <li>You did not misspell a word</li>
                <li>You only used words that appear in the <a id="no_data_syllables_link" href="http://www.speech.cs.cmu.edu/cgi-bin/cmudict"
                        target="_blank">dictionary</a></li>
            </ol>
        </div>
        <div id="loading_syllables" class="text-center loading">
            <div class="spinner-border" style="width: 2rem; height: 2rem;" role="status">
          </div>
        </div>
    </div>
    <div class="form-check form-switch form-check-reverse switch_div">
        <input class="form-check-input" id="check_meter" name="switch" value="check_meter"
            type="checkbox" id="flexSwitchCheckReverse">
        <label class="form-check-label" for="flexSwitchCheckReverse">Display Meter</label><button id="meter_info_btn">?</button>
    </div>
    <div>
        <p id="no_data_meter"><p>
    </div>
    <div id="loading_meter" class="text-center loading">
        <div class="spinner-border" style="width: 2rem; height: 2rem;" role="status">
      </div>
    </div>
</div>
<button class="button" id="arrow"><i class="arrow right" id="arrow_symbol"></i></button>
</div>
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<div id="rhyme_info_div">
    <button id="rhyme_info_close" class="close_btn">x</button>
    <ul>
        <li><u style=color:green><span style=color:green>Green:</span></u> Words rhyme</li>
        <br>
        <li><u style=color:blue><span style=color:blue>Blue:</span></u> Words rhyme with each other but don't follow the rhyme group's rhyme scheme<br>(example: tree-A, free-A, sun-A, fun-A)</u> </li>
        <br>
        <li><u style=color:yellow><span style=color:yellow>Yellow:</span></u> Words rhyme with each other but also rhyme with another rhyme group<br>(example: tree-A, free-B, glee-A, see-B)</u> </li>
        <br>
        <li><u style=color:red><span style=color:red>Red:</span></u> Words don't rhyme</li>
    </ul>
</div>
<div id="meter_info_div">
    <button id="meter_info_close" class="close_btn">x</button>
    Display Meter:
    <ul>
        <li>Seperates Words Into Syllables</li>
        <li>Identify <b>STRESSED</b> And <b>unstressed</b> Syllables</li>
        <li><a>More About Meter...</a></li>
    </ul>
</div>
<div id="search_results">
    <ul id="search_results_list"></ul>
    <button id="hide_results" class="button">Hide</button>
    <button class="button" onclick="window.open('/Rhymes', '_blank')">Advanced Search</button>
</div>
{% if write_session == "default" %}
    <span id="notepad" class="notepad" role="textbox" class="line" contenteditable></span>
    <div class="poem-div">
        <div class="verse">
            <span contenteditable id="title"></span><span class="badge bg-secondary, title_symbol">Title</span>
        </div>
        <!-- if rhyme scheme calls for numeric line numbers i[0] will not work so we need to check for that -->
        {% if ( (user_rhyme_scheme=="Free Verse") or (user_rhyme_scheme=="Haiku") ) %}
            {% for i in rhyme_schemes.rhymes%}
            <div class="verse">
                <span class="line {{i}}" id="{{i}}" name="{{i}}" role="textbox" contenteditable="true"></span><span id="symbol{{i}}"
                    class="badge bg-secondary, rhyme_symbols">{{i}}</span>
            </div>
            <div class="syllables"><span class="syllables_text"></span></div>
            <div class="meter"><span class="meter_text"></span></div>
                {% if rhyme_schemes.line_break_frequency and ((loop.index % rhyme_schemes.line_break_frequency) == 0) %}
                <br>
                {% endif %}
            {% endfor %}
        {% else%}
            {% for i in rhyme_schemes.get_ids()%}
            <div class="verse">
                <span class="line {{i[0]}}" id="{{i}}" name="{{i[0]}}" role="textbox" contenteditable="true"></span><span
                    id="symbol{{i}}" class="badge bg-secondary, rhyme_symbols">{{i[0]}}</span>
            </div>
            <div class="syllables"><span class="syllables_text"></span></div>
            <div class="meter"><span class="meter_text"></span></div>

                {% if rhyme_schemes.line_break_frequency and ((loop.index % rhyme_schemes.line_break_frequency) == 0) %}
                <br>
                {% endif %}
            {% endfor %}
        {% endif %}
        <button value="Save Draft"class="button" name="write_btn" id="save_draft">Save As Draft</button>
        <button value="save_poem" class="button" name="write_btn" id="save_poem">Save Poem</button>
        <div id="msg_container"><button type="button" class="close_btn" id="close_success_msg">hide</button><p class="confirmation_msg" id="confirmation_msg_write">Draft succesfully saved</p></div>
    </div>

<!-- if sess is draft get all of our info from our databse-->
{% elif write_session == "draft" %}
    <span id="notepad" class="notepad" role="textbox" class="line" contenteditable>{{draft.notes}}</span>
    <div class="poem-div">
        <div class="verse">
            <span contenteditable id="title">{{draft.title}}</span><span class="badge bg-secondary, title_symbol">Title</span>
        </div>
        {% if ( (draft.rhyme_scheme=="Free Verse") or (draft.rhyme_scheme=="Haiku") ) %}
            {% for i in draft_lines %}
            <div class="verse">
                <span class="line {{i.line_num}}" id="{{i.line_num}}" name="{{i.line_num}}" role="textbox" contenteditable="true">{{i.line_text}}</span><span id="symbol{{i.line_num}}"
                    class="badge bg-secondary, rhyme_symbols">{{i.line_num}}</span>
            </div>
            <div class="syllables"><span class="syllables_text"></span></div>
            <div class="meter"><span class="meter_text"></span></div>
                {% if draft.line_break and ((loop.index % draft.line_break) == 0) %}
                <br>
                {% endif %}
            {% endfor %}
        {% else%}
            {% for i in draft_lines %}
            <div class="verse">
                <span class="line {{i.line_num[0]}}" id="{{i.line_num}}" name="{{i.line_num[0]}}" role="textbox" contenteditable="true">{{i.line_text}}</span><span
                    id="symbol{{i.line_num}}" class="badge bg-secondary, rhyme_symbols">{{i.line_num[0]}}</span>
            </div>
            <div class="syllables"><span class="syllables_text"></span></div>
            <div class="meter"><span class="meter_text"></span></div>
                {% if draft.line_break and ((loop.index % draft.line_break) == 0) %}
                <br>
                {% endif %}
            {% endfor %}
        {% endif %}
        <button value="Save Draft"class="button" name="write_btn" id="save_draft">Save As Draft</button>
        <button value="save_poem" class="button" name="write_btn" id="save_poem">Save Poem</button>
        <div id="msg_container"><button type="button" class="close_btn" id="close_success_msg">hide</button><p class="confirmation_msg" id="confirmation_msg_write">Draft succesfully saved</p></div>
    </div>

<!-- if sess is poem get all of our info from our databse-->
{% elif write_session == "poem" %}
<span id="notepad" class="notepad" role="textbox" class="line" contenteditable></span>
    <div class="poem-div">
        <div class="verse">
            <span contenteditable id="title">{{poem.title}}</span><span class="badge bg-secondary, title_symbol">Title</span>
        </div>
        {% if ( (poem.rhyme_scheme=="Free Verse") or (poem.rhyme_scheme=="Haiku") ) %}
            {% for i in poem_lines %}
            <div class="verse">
                <span class="line {{i.line_num}}" id="{{i.line_num}}" name="{{i.line_num}}" role="textbox" contenteditable="true">{{i.line_text}}</span><span id="symbol{{i.line_num}}"
                    class="badge bg-secondary, rhyme_symbols">{{i.line_num}}</span>
            </div>
            <div class="syllables"><span class="syllables_text"></span></div>
            <div class="meter"><span class="meter_text"></span></div>
                {% if poem.line_break and ((loop.index % poem.line_break) == 0) %}
                <br>
                {% endif %}
            {% endfor %}
        {% else%}
            {% for i in poem_lines %}
            <div class="verse">
                <span class="line {{i.line_num[0]}}" id="{{i.line_num}}" name="{{i.line_num[0]}}" role="textbox" contenteditable="true">{{i.line_text}}</span><span
                    id="symbol{{i.line_num}}" class="badge bg-secondary, rhyme_symbols">{{i.line_num[0]}}</span>
            </div>
            <div class="syllables"><span class="syllables_text"></span></div>
            <div class="meter"><span class="meter_text"></span></div>
                {% if poem.line_break and ((loop.index % poem.line_break) == 0) %}
                <br>
                {% endif %}
            {% endfor %}
        {% endif %}
        <button class="button" id="update_poem">Save Changes</button>
        <div id="msg_container"><button type="button" class="close_btn" id="close_success_msg">hide</button><p class="confirmation_msg" id="confirmation_msg_write">Poem succesfully updated</p></div>
    </div>
{% endif %}
<script  src="/static/js/write.js"> </script>
{% endblock %}
<a href="https://www.datamuse.com/api/" target="_blank">Copyright © 2022 Datamuse</a>
